.ant-message-notice{

  .ant-message-notice-content{
    border-radius: 20px;
    padding: 1em 1.5em;
    //.ant-message-custom-content{
    //  display: flex;
    //  flex-direction: column;
    //  align-items: center;
    //  .anticon{
    //    font-size: 22px;
    //  }
    //  span{
    //    margin-top: 0.5em;
    //    font-size: 16px;
    //  }
    //}

  }
  &:nth-child(1){
    margin-top: 20vh;
  }
}
.ant-dropdown{

  .coin-info {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 6px 0;
    .coin-name{
      display: flex;
      align-items: center;
      svg{
        margin-right: 6px;
      }
    }
  }
}
