//颜色定义规范
$background-color-side-theme:#0E1D51;//侧边栏主题颜色默认
$background-color-side-night: #1A1D43;//侧边栏主题颜色1

$background-color-wallet-theme:radial-gradient(circle, #698ef1 0%, #003174 100%);//wallet主题颜色默认
$background-color-wallet-night:transparent;//wallet主题颜色1

$background-color-kline-theme:#FFFFFF;
$background-color-kline-night:#1A1D43;

$background-color-kline-btn:#0e1d51;
$background-color-kline-btn1:#7C83BB;


$background-color-theme: #F3F7FF;//背景主题颜色默认
$background-color-night: #0E102F;//背景主题颜色1


$background-color-modal-theme:#F8F8F8;//弹窗背景主题颜色默认
$background-color-modal-night: #0E102F;//弹窗背景主题颜色1

$background-color-change:#EAEAEC;
$background-color-change1:#272E60;
$background-color-change2:#1A1D43;
$background-color-change3:#FFFFFF;
$background-color-change4:#0E102F;
$background-color-change5:#0e1d51;
$background-color-change6:#101234;
$background-color-change7:transparent;
$background-color-change8:#E6EBF7;
$background-color-change9:#F6F6F9;
$background-color-change10:linear-gradient(270deg, #31C7EE 0%, #797EF2 100%);
$background-color-change11:#cccccc;
$background-color-change12:#DEE0EA;
$background-color-change13:#f5f5f5;
$background-color-change14:#8f97aa;
$background-color-change15:#7C83BB;
$background-color-change16:#F2F2F2;
$background-color-change17:rgba(234, 234, 236, 0.16);
$background-color-change18:#0D0F2E;
$background-color-change19:#F8F8F8;

$background-color-disable-btn:#f5f5f5;
$background-color-disable-btn1:#1A1D43;

$font-color-s:#0e1d51;
$font-color-s1:#FFFFFF;
$font-color-s2:#8F97AA;
$font-color-s3:#7C83BB;
$font-color-s4:rgba(0, 0, 0, 0.65);
$font-color-s5:#34335B;
$font-color-s6:#101E4E;
$font-color-s7:#1A1D43;
$font-color-s8:#A9ACAF;
$font-color-s9:rgba(124, 131, 187, 0.6);
$font-color-s10:#f5f5f5;

$border-color-s:#E0E0E0;
$border-color-s1:#272E60;
$border-color-s2:rgba(221, 221, 221, 0.7490196078431373);
$border-color-s3: #1A1D43;
$border-color-s4: rgba(205, 208, 227, 0.29411764705882354);
$border-color-s5:#e8e8e8;
$border-color-s6:#CCCED0;
$border-color-s7:#0E1D51;
$border-color-s8:#FFFFFF;
$border-color-s9:#0E102F;
$border-color-s10:#7C83BB;
$border-color-s11:#E3E4EE;
$border-color-s12:#D4D7DF;
$border-color-s13:#ECECEE;
$border-color-s14:#EAEAEC;
$border-color-s15:rgba(124, 131, 187, 0.6);
 
$font-color-shallow0 : #000;
$font-color-shallow1 : #111;
$font-color-shallow2 : #222;
$font-color-shallow3 : #333;
$font-color-shallow4 : #444;
$font-color-shallow5 : #555;
$font-color-shallow6 : #666;
$font-color-shallow7 : #777;
$font-color-shallow8 : #888;
$font-color-shallow9 : #999;
$font-color-shallowdb : #dbdbdb;

$box-shadow-color:rgba(229, 237, 240, 0.33);
$box-shadow-color1:#101234;

 
//字体定义规范
$font_little_s:10px;
$font_little:12px;
$font_medium_s:14px;
$font_medium:16px;
$font_large_s:18px;
$font_large:20px;
 